<div>
    <h1> Productos </h1>
    <ul>
        {{#each products}}
            <li> ID:{{id}} - Titulo:{{title}} - Precio:{{price}} - Stock: {{stock}} - Code: {{code}} </li>
        {{/each}}
    </ul>
</div>