<div>

    {{#if user}}
    <h1> Bienvenido {{ user }} ! </h1>
    <form method="post" action="/api/sessions/logout">
        <button type="submit"> Logout </button>
    </form>
    {{else}}
    <h2> No logueado </h2>
    {{/if}}

    <h1> Products </h1>

    <ul>
        {{#each products.docs}}
        <li> ID:{{this._id}} - Titulo:{{this.title}} - Precio:{{this.price}} - Categoría:{{this.category}} - Stock:
            {{this.stock}} - Code: {{this.code}} </li>
        <button> Agregar al carrito </button>
        {{/each}}
    </ul>

    <div>
        {{#if products.hasPrevPage}}
        <a
            href="/products?page={{products.prevPage}}&limit={{products.limit}}&sort={{products.sort}}&{{products.queryURL}}">
            Anterior </a>
        {{/if}}
    </div>

    <span>
        Página {{products.page}} de {{products.totalPages}}
    </span>

    <div>
        {{#if products.hasNextPage}}
        <a
            href="/products?page={{products.nextPage}}&limit={{products.limit}}&sort={{products.sort}}&{{products.queryURL}}">
            Siguiente </a>
        {{/if}}
    </div>

</div>